.about {
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  background-color: #242323;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  padding: 20px; /* Add padding to create space between content and background */
  width: 80vw; /* Set the width to 60% of the viewport width */
  position: absolute; /* Change to absolute positioning */
}

.about-section > h1 {
  display: flex;
  justify-content: center;
  /* font-family: 'Audiowide', cursive; */
  margin-left: 20px; /* Adjust the margin as needed */
  color: #fff;
}

.about-body {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  font-size: 28px;
  word-spacing: 5px;
  padding: 20px; /* Add padding to create space between content and background */
  margin: 0 20px; /* Add margin to position the background properly */
  background-color: gray; /* Set background color for text area */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.about-body > p {
  /* font-family: 'Audiowide', cursive; */
  color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .about {
        font-size: 1rem;
    }
    .about-section {
      width: 80vw;
      padding: 10px;
    }
    .about-body {
      font-size: 16px;
      line-height: 30px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .about-section {
      width: 80vw;
    }
    
    .about-body {
      font-size: 16px;
      line-height: 20px;
    }
  }